[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule ".config/awesome/themes/awesome-solarized"]
	path = .config/awesome/themes/awesome-solarized
	url = https://github.com/cycojesus/awesome-solarized.git
[submodule ".config/awesome/themes/awesome-solarized/"]
	url = https://github.com/funtaps/awesome-solarized.git
